@import "~@fortawesome/fontawesome-free/css/all.css";
$primary-color: rgba(179, 172, 172, 0.137);
$secondary-color: rgb(255, 255, 255);
$third-color: rgb(161, 152, 152);
$warning-color: #f00;
$success-color: rgb(0, 255, 136);
$back-save: blue;
$border-save: 3px rgb(193, 190, 235) solid;
$border-container-top: 50px solid rgba(179, 172, 172, 0.137);
$border-container-right: 10px solid rgba(179, 172, 172, 0.137);

* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  padding-left: 25px;
  width: 600px;
  margin: 100px auto;
  border: $border-container-top $border-container-right;
  border-radius: 5px;
}

input {
  outline: none;
  border: none;
}

.width-10 {
  width: 98%;
  height: 1px;
  background-color: $third-color;
}

.container header,
.input-taker {
  display: flex;
  gap: 350px;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
  height: 50px;
  padding-left: 30px;
}

form {
  display: flex;
  justify-content: space-between;
  background-color: $secondary-color;
  gap: 350px;
}

form button {
  background-color: $secondary-color;
  margin-left: 20px;
  border: none;
}

.clearAllTask {
  height: 50px;
  width: 90%;
  border: 1px solid $secondary-color;
  cursor: pointer;
  font-size: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: $secondary-color;
  padding-bottom: 10px;
  width: 585px;
}

.edit-icon {
  margin-right: 50px;
  margin-left: 50px;
}

.fa-trash-alt {
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
}

.fa-trash-alt:hover {
  cursor: pointer;
  opacity: 1;
  margin-right: 20px;
}

.a-ellipsis-vertical {
  padding-left: 50px;
  position: relative;
  transition: 1s ease;
  opacity: 1;
}

.a-ellipsis-vertical:hover {
  opacity: 0;
}

.warning {
  margin: 0 auto;
  color: $warning-color;
  padding-bottom: 30px;
}

.save {
  border: $border-save;
  border-radius: 10px;
  padding: 5px;
  color: rgb(124, 179, 179);
  margin-left: 200px;
}

.save:hover {
  background-color: $success-color;
  border: 3px rgb(167, 162, 233) solid;
  color: $back-save;
  cursor: pointer;
}
